In [1]:
x = ['apple', 'banana'] # list
print('apple' in x)  # True
print('pear' in x)  # False
print('a' in 'apple')  # True

True
False
True

In [7]:
x = 592

# check_1: check if x is a three-digit number
check_1 = (x // 100 != 0) and (x // 1000 == 0)
# check_1 = (x >= 100) and (x < 1000)

# check_2: check if x is an even number
check_2 = (x % 2 == 0)

# check: check if x is a three-digit even number
check = check_1 and check_2

print('x', x, 'is a three-digit number:', check_1)
print('x', x, 'is an even number:', check_2)
print('x', x, 'is a three-digit even number:', check)

x 592 is a three-digit number: True
x 592 is an even number: True
x 592 is a three-digit even number: True

In [ ]:
'''
\\ backslash
\n new line
\t tab
\' single quote
'''

In [8]:
inta = 1
intb = 10
intc = 100

my_str = 'Print the numbers: {no1:d}, {no2:f} and {no3}'.format(no2=intb, no1=inta, no3=intc)
print(my_str)

Print the numbers: 1, 10.000000 and 100

In [10]:
day = 'Today'
print('{}\'s temperature: {:d}°C'.format(day, 100))
print('{0}\'s temperature: {1:d}°C'.format(day, 100))
print('{1}\'s temperature: {0:d}°C'.format(100, day))
print('{}\'s temperature: {:.3f}°C'.format(day, 100))

print('{}\'s temperature: {:>10.3f}°C'.format(day, 100)) # 오른쪽 정렬
print('{}\'s temperature: {:<10.3f}°C'.format(day, 100)) # 왼쪽 정렬
print('{}\'s temperature: {:^10.3f}°C'.format(day, 100)) # 가운데 정렬

Today's temperature: 100°C
Today's temperature: 100°C
Today's temperature: 100°C
Today's temperature: 100.000°C
Today's temperature:    100.000°C
Today's temperature: 100.000   °C
Today's temperature:  100.000  °C

In [40]:
my_str = '010-2468-1357'

# 1
str_a = my_str[:3]
str_b = my_str[4:8]
str_c = my_str[9:]

# 2
print('{:@<7}'.format(str_a))
print(f'{str_a:@<7}')

# 3
print('{:!^7}'.format(str_b))
print(f'{str_b:!^7}')

# 4
print('{:&>7}'.format(str_c))
print(f'{str_c:&>7}')

010@@@@
010@@@@
!2468!!
!2468!!
&&&1357
&&&1357

In [9]:
value = 4054.13

print('!%.4f!' % value)
print('!%15.2f!' % value)
print('!%-15.2f!' % value)

!4054.1300!
!        4054.13!
!4054.13        !

In [11]:
print(f'1: {value}')
print(f'2: {value:f}')
print(f'3: {value:0.4f}')
print(f'4: {value:>15.2f}')
print(f'5: {value:<15.2f}')
print(f'6: {value:*>15.2f}')

1: 4054.13
2: 4054.130000
3: 4054.1300
4:         4054.13
5: 4054.13
6: ********4054.13

In [21]:
# Indexing, Slicing and Striding

my_str = "Hello World"

print(my_str[0])
print(my_str[4])
print(my_str[9])

print(my_str[5:])
print(my_str[4:-2])
print(my_str[1:4] + my_str[-5:9])

print(my_str[0:7:2])
print(my_str[::3]) # 3칸씩 띄어서 출력
print(my_str[3::-1]) # 3번 인덱스부터 역순

# 역순 출력 방법 1
print(my_str[::-1]) # -1, 즉 마지막부터 역순

# 역순 출력 방법 2. list
str = list(my_str)
str.reverse()
print(''.join(str))

# 역순 출력 방법 3. string에 바로
print(''.join(reversed(my_str)))

H
o
l
 World
o Wor
ellWor
HloW
HlWl
lleH
dlroW olleH
dlroW olleH
dlroW olleH

In [23]:
my_str = "Hello World. Attention please."
print(my_str)

# count
print(my_str.count('e'))
print(my_str.count('ea'))

# find
print(my_str.find('lo'))
print(my_str.find('y'))

# index
print(my_str.index('o'))
print(my_str.index('lo'))

# join
new_str = '+'.join(my_str)
print(new_str)

# replace
print(my_str.replace('World','Guys'))
print(my_str.replace('Hello', 'Hi'))

# split
print(my_str.split())
print(my_str.split('l'))

# strip, lstrip, rstrip
str3 = '   Hello   hi!   '
print(str3)
print(str3.strip()) # 양쪽 공백 사라짐
print(str3.lstrip()) # 왼쪽 공백 사라짐
print(str3.rstrip()) # 오른쪽 공백 사라짐

# upper, lower, capitalize
my_str = "hi everyone"
print(my_str.upper())
print(my_str.lower())
print(my_str)
print(my_str.capitalize())

# len()
my_str = "Hello World"
print(len(my_str))

Hello World. Attention please.
4
1
3
-1
4
3
H+e+l+l+o+ +W+o+r+l+d+.+ +A+t+t+e+n+t+i+o+n+ +p+l+e+a+s+e+.
Hello Guys. Attention please.
Hi World. Attention please.
['Hello', 'World.', 'Attention', 'please.']
['He', '', 'o Wor', 'd. Attention p', 'ease.']
   Hello   hi!
Hello   hi!
Hello   hi!
   Hello   hi!
HI EVERYONE
hi everyone
hi everyone
Hi everyone
11

In [26]:
lst = ['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']

print(len(lst))

print(lst[0])
print(lst[2])
print(lst[1:4])
print(lst[-2][0])
print(lst[-2][1])

# change index 2 value
lst[2] = 1.4
print(lst)

5
Hello World
2.5
[3, 2.5, ['Python', 'Programming']]
Python
Programming
['Hello World', 3, 1.4, ['Python', 'Programming'], 'SCS2013']

In [39]:
# list 값을 곧바로 바꿈

# .append()
print('--------------------------append--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.append("Append")
print(lst_1)

# .insert()
print('--------------------------insert--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.insert(3, "Insert")
print(lst_1)

# .index()
print('--------------------------index--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.index(31))

# .clear()
print('--------------------------clear--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.clear()
print(lst_1)

# .remove()
print('--------------------------remove--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.remove('World')
print(lst_1)

# del 
print('--------------------------del--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
del lst_1[1]
print(lst_1)

# .sort()
print('--------------------------sort--------------------------')
lst_1 = [1, 2, 34, 6]
print(lst_1)
lst_1.sort() # 내림차순
lst_1.sort(reverse = True) # 오름차순
print(lst_1)

# .reverse()
print('--------------------------reverse--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.reverse()
print(lst_1)

# .count()
print('--------------------------count--------------------------')
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.count('31'))

# sum, min, max
print('--------------------------sum, min, max--------------------------')
lst_1 = [3, 75, 6, 23, 3, 13]
print(lst_1)
print(sum(lst_1))
print(min(lst_1))
print(max(lst_1))

--------------------------append--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, True, 'True', '31', 'Append']
--------------------------insert--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 'Insert', 2.7, True, 'True', '31']
--------------------------index--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
2
--------------------------clear--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
[]
--------------------------remove--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 31, 2.7, True, 'True', '31']
--------------------------del--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 31, 2.7, True, 'True', '31']
--------------------------sort--------------------------
[1, 2, 34, 6]
[1, 2, 6, 34]
--------------------------reverse--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
['31', 'True', True, 2.7, 31, 'World', 'Hello']
--------------------------count--------------------------
['Hello', 'World', 31, 2.7, True, 'True', '31']
1
--------------------------sum, min, max--------------------------
[3, 75, 6, 23, 3, 13]
123
3
75

In [31]:
# tuple
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013)) 

print(len(tup))
print(tup[0])
print(tup[3:])
print(tup[-2])
print(tup[-1])
print(tup[-2][0])
print(tup[-1][0])

'''
tuple은 assign, del 사용 불가능
tup[2] = 1.4
del tup[1]
'''

# .index()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
tup_1.index(31)


# .count()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
tup_1.count('True')

# sum(), min(), max()
tup_1 = (3, 75, 6, 23, 3, 13)
print(sum(tup_1))
print(min(tup_1))
print(max(tup_1))

5
Hello World
(['Python', 'Programming'], ('SCS', 2013))
['Python', 'Programming']
('SCS', 2013)
Python
SCS
123
3
75

In [32]:
# dictionary
dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'nickname': 'Kim'}
print(dct)

# access values using their keys or .get()
print(dct['name'])
print(dct.get('name'))
print(dct['birth'][0])
print(dct['birth'][1])

# Add a pair ('year', 1995) 그냥 year 추가
dct['year'] = 1995
print(dct)

# Delete a pair ('age', 27)
del dct['age']
print(dct)

# .keys()
print(dct.keys())
print(type(dct.keys()))
dct_key_list = list(dct.keys())
print(dct_key_list)

# .values()
print(dct.values())
print(type(dct.values()))

# .items()
print(dct.items())
print(type(dct.items()))

# in, not in
print('name' in dct.keys())
print('name' in dct)
print('Name' in dct.keys())

# .copy()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
c_dct = dct.copy()
print(c_dct)

# .clear()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct.clear()
print(dct)
print(c_dct)

# update()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct_2 = {'year': 1995, 'Course': 'SCS2013'}
dct.update(dct_2)
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'nickname': 'Kim'}
Kim
Kim
March
9
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'nickname': 'Kim', 'year': 1995}
{'name': 'Kim', 'birth': ['March', 9], 'nickname': 'Kim', 'year': 1995}
dict_keys(['name', 'birth', 'nickname', 'year'])
<class 'dict_keys'>
['name', 'birth', 'nickname', 'year']
dict_values(['Kim', ['March', 9], 'Kim', 1995])
<class 'dict_values'>
dict_items([('name', 'Kim'), ('birth', ['March', 9]), ('nickname', 'Kim'), ('year', 1995)])
<class 'dict_items'>
True
True
False
{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995, 'Course': 'SCS2013'}

In [ ]:
# create a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(set_1)

# create an empty set: set()
set_2 = {}
print(set_2)
print(type(set_2))

set_2 = set()
print(set_2)
print(type(set_2))

# accesing items in a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(3 in set_1)
print('a' in set_1)
print('A' in set_1)

# Add/Remove items
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'}
print(set_1)

set_1.add(6)
print(set_1)

set_1.update(['a','bb','ccc'])
print(set_1)

set_1.remove('bb')
print(set_1)

# set methods
set_a = {1,2,3,5,7,8}
set_b = {1,2,4,6,7}
set_c = {1,2,3,5}

print(set_a.union(set_b)) #합집합
print(set_a.intersection(set_b)) #교집합
print(set_a - set_b) #차집합
print(set_a.issuperset(set_c)) #포함관계
print(set_a >= set_c) # 포함관계