# SCS2013 Exercise 14 (2022 Fall)

**This exercise notebook will go through the understanding of "NumPy" and "Pandas" libraries in Python**

- A library is an umbrella term referring to a reusable chunk of code
  - contain a collection of related modules and packages 
  - interchangeably used with *Python Package* 
  - There are various open-source standard Python packages/libraries: `NumPy`, `Pandas`, `pytest`, `Matplotlib`, `PyTorch`, `Beautiful Soup`, and so more!

## NumPy 

[NumPy](https://numpy.org/) is a Python package providing fast, flexible, and expressive data structures designed to make working with arrays

In [ ]:
import numpy as np

In [ ]:
my_arr = np.array([3.14, 4, 2, 3.5])
print(my_arr)

my_arr = np.array([1, 2, 3], dtype='float32')
print(my_arr)

[3.14 4.   2.   3.5 ]
[1. 2. 3.]

In [ ]:
# multi-dimensional array

my_arr = np.array([range(i, i+3) for i in [2,4,6]])
print(my_arr)


my_lst = [range(i, i+3) for i in [2,4,6]]
print(my_lst)

my_arr = np.array(my_lst)
print(my_arr)

[[2 3 4]
 [4 5 6]
 [6 7 8]]
[range(2, 5), range(4, 7), range(6, 9)]
[[2 3 4]
 [4 5 6]
 [6 7 8]]

We can create arrays by using following functions:     
- `np.zeros(shape)`: return an array of given shape filled with zeros
- `np.ones(shape)`: return an array of given shape filled with ones
- `np.full(shape, fill_value)`: return an array of given shape filled with `fill_value`
- `np.arange(start, end, step)`: return evenly spaced values within a given interval 
- `np.linspace(start, end, num)`: return `num` evenly spaced samples over the interval
- `np.random.rand(shape)`: return an array of given shape with random values from a uniform distribution between 0 and 1
- `np.random.randn(shape)`: return an array of given shape with random values from the standard normal distribution
- `np.random.randint(start, end, shape)`: return an array of given shape with random integers from the interval

We can change the size of array by using `.reshape()` function: the size of the initial array must match the size of the reshaped array

We can check attributes of the `nd.array`: `arr.shape`, `arr.ndim`, `arr.itemsize`

In [ ]:
# create an array with integers 
my_arr = np.arange(1,10)
print(my_arr)

my_arr_2 = np.arange(1,10).reshape(3,3)
print(my_arr_2)

my_arr_3 = np.arange(1,21).reshape(2,2,5)  # 원하는 dimension으로 바꾼다
print(my_arr_3)

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[[ 1  2  3  4  5]
  [ 6  7  8  9 10]]

 [[11 12 13 14 15]
  [16 17 18 19 20]]]

In [ ]:
print(f'1: Array shape: {my_arr.shape}')
print(f'2: Array dimensions: {my_arr.ndim}')
print(f'3: Length of each element of array in bytes: {my_arr.itemsize}')
print(my_arr.size)


print(f'1: Array shape: {my_arr_2.shape}')
print(f'2: Array dimensions: {my_arr_2.ndim}')
print(f'3: Length of each element of array in bytes: {my_arr_2.itemsize}')

1: Array shape: (9,)
2: Array dimensions: 1
3: Length of each element of array in bytes: 8
9
1: Array shape: (3, 3)
2: Array dimensions: 2
3: Length of each element of array in bytes: 8

In [ ]:
my_arr = np.random.randint(20, size=6)
print(my_arr)


print(my_arr[0])
print(my_arr[2])
print(my_arr[-2])

[14  6 14 16  8  3]
14
14
8

In [ ]:
# replace items that satisfy a condition with another value
my_arr[my_arr % 2 == 1] = -1
print(my_arr)

my_arr % 2 == 1 # True값에 해당하는 애들만 선택하는 / 즉 홀수에 해당하는 걸 =1로 바꿔줌

[14  6 14 16  8 -1]

array([False, False, False, False, False,  True])

In [ ]:
# generate 2x4 array of integers between 0 and 4, inclusive:
my_arr = np.random.randint(5, size=(2,4))
print(my_arr)

print(my_arr[0,0])
print(my_arr[1,-1])

[[2 2 0 3]
 [1 0 0 4]]
2
4

In [ ]:
my_arr = np.random.randint(5, size=(5,4))
print(my_arr)

# pick 1st to 3rd columns of the array
new_arr = my_arr[:, 0:2]
print(new_arr)

# pick every odd columns of the array
new_arr = my_arr[:, ::2]
print(new_arr)

# reverse the rows of the array
new_arr = my_arr[::-1, :]
print(new_arr)

[[4 0 3 2]
 [1 3 0 0]
 [4 0 3 0]
 [1 4 1 2]
 [0 0 2 2]]
[[4 0]
 [1 3]
 [4 0]
 [1 4]
 [0 0]]
[[4 3]
 [1 0]
 [4 3]
 [1 1]
 [0 2]]
[[0 0 2 2]
 [1 4 1 2]
 [4 0 3 0]
 [1 3 0 0]
 [4 0 3 2]]

Computations on NumPy arrays can be very fast
- `np.sum`, `np.prod`, `np.mean`, `np.std`, `np.min`, `np.max`, `np.argmax`, `np.argmin`, `np.median`, ...

In [ ]:
# computations on my_arr
print(my_arr)

# compute sum, product, and mean of all numbers from axis 0 (1st dimension)  20개 모든 숫자들의 연산
print(my_arr.sum())
print(my_arr.prod()) # 곱하기
print(my_arr.mean())
print('\n')

# compute sum, product, and mean of all numbers from axis 0 (1st dimension) 위에서 아래로
print(my_arr.sum(axis=0))
print(my_arr.prod(axis=0))
print(my_arr.mean(axis=0))
print('\n')

# compute sum, product, and mean of all numbers from axis 1 좌에서 우로
print(my_arr.sum(axis=1))
print(my_arr.prod(axis=1))
print(my_arr.mean(axis=1))

[[4 0 3 2]
 [1 3 0 0]
 [4 0 3 0]
 [1 4 1 2]
 [0 0 2 2]]
32
0
1.6


[10  7  9  6]
[0 0 0 0]
[2.  1.4 1.8 1.2]


[9 4 7 8 4]
[0 0 0 8 0]
[2.25 1.   1.75 2.   1.  ]

In [ ]:
# compute max, min values and max, min item positions 
my_arr = np.random.randint(20, size=(4,3))
print(my_arr)

num_max = my_arr.max()
num_min = my_arr.min()
idx_max = my_arr.argmax() # 최대 위치
idx_min = my_arr.argmin() # 최소 위치

print(num_max, num_min)
print(idx_max, idx_min)

[[17 18  0]
 [ 6  3 16]
 [ 0  1  8]
 [12  4  2]]
18 0
1 2

## Pandas

[Pandas](https://pandas.pydata.org/) is an open-source Python library for analyzing large and complex, "labeled" data.

In [ ]:
import pandas as pd

In [ ]:
my_ser = pd.Series([1,2,4,3], ['Kim','Lee','Park','Choi']) # 1-d 형태
print(my_ser)

print('===')
print(my_ser.values)
print(my_ser.index)

Kim     1
Lee     2
Park    4
Choi    3
dtype: int64
===
[1 2 4 3]
Index(['Kim', 'Lee', 'Park', 'Choi'], dtype='object')

In [ ]:
print(my_ser['Kim'])
print(my_ser['Kim':'Park'])

1
Kim     1
Lee     2
Park    4
dtype: int64

In [ ]:
my_dict = {'b': 10, 'a': 30, 'c': 20}
print(my_dict)

data = pd.Series(my_dict)
print(data)

{'b': 10, 'a': 30, 'c': 20}
b    10
a    30
c    20
dtype: int64

In [ ]:
# series[label]
print(data['a'])

data['e'] = 15
print(data)

30
b    10
a    30
c    20
e    15
dtype: int64

In [ ]:
ser1 = pd.Series([1,2,3,4], ['Kim','Lee','Park','Choi'])
ser2 = pd.Series([5.2,3.5,7.2,12.5], ['Kim','Lee','Yoo','Choi'])

print(ser1)
print('===')
print(ser2)
print('===')
print(ser1+ser2)

Kim     1
Lee     2
Park    3
Choi    4
dtype: int64
===
Kim      5.2
Lee      3.5
Yoo      7.2
Choi    12.5
dtype: float64
===
Choi    16.5
Kim      6.2
Lee      5.5
Park     NaN
Yoo      NaN
dtype: float64

**DataFrame** is a tabular (with rows and columns) representation of data

- `pd.DataFrame(data, index, columns)`
- If we have data in `dict` data structure, we can convert it into DataFrame

- `DataFrame.index`: gives a range of the row index
- `DataFrame.columns`: gives a list of column labels
- `DataFrame.values`: gives all the rows in DataFrame
- `DataFrame.size`: gives a total number of values in DataFrame
- `DataFrame.shape`: gives a number of rows and columns in DataFrame

In [ ]:
arr = np.array([[1,100], [5,50], [10,10]])
label = ['a','b','c']
my_df = pd.DataFrame(data=arr, index=label, columns=['Type 1', 'Type 2'])

my_df

   Type 1  Type 2
a       1     100
b       5      50
c      10      10

In [ ]:
data = {'Type 1': [1,5,10], 'Type 2': [100, 50, 10]}
my_df = pd.DataFrame(data, index=['a','b','c'])

print(my_df)
my_df

   Type 1  Type 2
a       1     100
b       5      50
c      10      10

   Type 1  Type 2
a       1     100
b       5      50
c      10      10

In [ ]:
# check the DataFrame attributes

print(my_df.index)
print(my_df.columns)
print(my_df.values)
print(my_df.size)
print(my_df.shape)

Index(['a', 'b', 'c'], dtype='object')
Index(['Type 1', 'Type 2'], dtype='object')
[[  1 100]
 [  5  50]
 [ 10  10]]
6
(3, 2)

While dealing with data in DataFrame, we can select a set of rows or columns

- `DataFrame[label]`: select a group of data based on the column labels 
- `DataFrame.loc[label]`: select a group of data based on the row labels 
- `DataFrame.iloc[index]`: select a group of data based on the row index position

Select columns or rows:
![image.png]()

In [ ]:
print(my_df)

# select column
print(my_df['Type 2'])

# select row by label
print('===')
print(my_df.loc['b'])

# select row by integer
print('===')
print(my_df.iloc[1])

# select colum by label, integer
print('\n')
print(my_df.loc[:, 'Type 2'])

print('\n')
print(my_df.iloc[:, 1])

   Type 1  Type 2
a       1     100
b       5      50
c      10      10
a    100
b     50
c     10
Name: Type 2, dtype: int64
===
Type 1     5
Type 2    50
Name: b, dtype: int64
===
Type 1     5
Type 2    50
Name: b, dtype: int64


a    100
b     50
c     10
Name: Type 2, dtype: int64


a    100
b     50
c     10
Name: Type 2, dtype: int64

In [ ]:
my_df['Type 3'] = my_df['Type 1'] * my_df['Type 2']
my_df

   Type 1  Type 2  Type 3
a       1     100     100
b       5      50     250
c      10      10     100

In [ ]:
my_df['Type 4'] = 'Hey'
my_df

   Type 1  Type 2  Type 3 Type 4
a       1     100     100    Hey
b       5      50     250    Hey
c      10      10     100    Hey

In [ ]:
# get the row/column with boolean vector

print(my_df)
print(my_df[my_df['Type 2']>=100])

   Type 1  Type 2  Type 3 Type 4
a       1     100     100    Hey
b       5      50     250    Hey
c      10      10     100    Hey
   Type 1  Type 2  Type 3 Type 4
a       1     100     100    Hey

## Exercises

### E-1:

Create a $5 \times 3$ array of integers from a range between $10$ to $99$, such that the difference between each element is $6$. 
- the resulting array is
```
[[10 16 22]
 [28 34 40]
 [46 52 58]
 [64 70 76]
 [82 88 94]]
```

In [ ]:
import numpy as np

# your code here:
my_arr = np.arange(10, 100, 6).reshape(5, 3)
print(my_arr)

[[10 16 22]
 [28 34 40]
 [46 52 58]
 [64 70 76]
 [82 88 94]]

### E-2:     

Return an array of even rows and odd columns from the given ndarray `my_arr`

Result:
```
[[21 27 33]
 [57 63 69]]
```

In [ ]:
my_arr = np.arange(3, 91, 3).reshape(5,6)
print('Input array:')
print(my_arr)
print(my_arr.shape)

print('\n')
print('Output array: pick even rows and odd columns:')

# your code here:
print(my_arr[1::2, ::2])

Input array:
[[ 3  6  9 12 15 18]
 [21 24 27 30 33 36]
 [39 42 45 48 51 54]
 [57 60 63 66 69 72]
 [75 78 81 84 87 90]]
(5, 6)


Output array: pick even rows and odd columns:
[[21 27 33]
 [57 63 69]]

### E-3:     
Create a $3 \times 4$ array of random integers in range [10, 99] and compute the mean and standard deviation of the array along axis 0 and axis 1

In [ ]:
# your code here: create an array
my_arr = np.random.randint(10,100, size=(3,4))
print(my_arr)

# your code here: compute mean and std along axis 0 (along rows)
# computations on my_arr
print('mean (axis 0) =', my_arr.mean(axis = 0))
print('std (axis 0) =', my_arr.std(axis = 0))

# compute sum, product, and mean of all numbers from axis 0 (1st dimension) 위에서 아래로
print('sum (axis 0) =', my_arr.sum(axis = 0))
print('product (axis 0) =', my_arr.prod(axis = 0))
print('mean (axis 0) =', my_arr.mean(axis = 0))

# your code here: compute mean and std along axis 1 (along columns)
print('mean (axis 1) =', my_arr.mean(axis = 1))
print('std (axis 1) =', my_arr.std(axis = 1))

[[36 93 19 25]
 [96 71 99 30]
 [13 95 84 95]]
mean (axis 0) = [48.33333333 86.33333333 67.33333333 50.        ]
std (axis 0) = [34.98888712 10.87300429 34.72111109 31.88521078]
sum (axis 0) = [145 259 202 150]
product (axis 0) = [ 44928 627285 158004  71250]
mean (axis 0) = [48.33333333 86.33333333 67.33333333 50.        ]
mean (axis 1) = [43.25 74.   71.75]
std (axis 1) = [29.36302948 27.63150376 34.2153109 ]

### E-4:    
Make array `new_arr` that normalizes the array `my_arr` so that the values range exactly between 0 and 1

- normalization can be done by `(array - minimum value) / (maximum value - minimum value)`

In [ ]:
print('Input array')
print(my_arr)

# your code here: get the maximum and minimum values
arr_max = my_arr.max()
arr_min = my_arr.min()
new_arr = np.zeros((3,4))

# your code here: normalize the array

for i in range(3):
    for j in range(4):
        new_arr[i][j] = (my_arr[i][j] - arr_min) / (arr_max - arr_min)

# 동일 작업        
new_arr2 = (my_arr - arr_min) / (arr_max - arr_min)

print(new_arr)
print(new_arr2)

Input array
[[36 93 19 25]
 [96 71 99 30]
 [13 95 84 95]]
[[0.26744186 0.93023256 0.06976744 0.13953488]
 [0.96511628 0.6744186  1.         0.19767442]
 [0.         0.95348837 0.8255814  0.95348837]]
[[0.26744186 0.93023256 0.06976744 0.13953488]
 [0.96511628 0.6744186  1.         0.19767442]
 [0.         0.95348837 0.8255814  0.95348837]]

### E-5:     
Create a dataframe `my_df` from the ndarray `my_arr` given in E-3

- make row labels being 'a','b','c'
- make column labels being 'T1','T2','T3','T4'

In [ ]:
import pandas as pd
print('Input array:')
print(my_arr)

# your code here: make row and column labels
my_df = pd.DataFrame(my_arr, index = ['a', 'b', 'c'], columns = ['Type 1', 'Type 2', 'Type 3', 'Type 4'])

labels = ['a', 'b', 'c']
columns = ['Type 1', 'Type 2', 'Type 3', 'Type 4']
my_df2 = pd.DataFrame(my_arr, index = labels, columns = columns)
# your code here: create a dataframe 


print('\nDataFrame:')
print(my_df)
print(my_df2)

Input array:
[[36 93 19 25]
 [96 71 99 30]
 [13 95 84 95]]

DataFrame:
   Type 1  Type 2  Type 3  Type 4
a      36      93      19      25
b      96      71      99      30
c      13      95      84      95
   Type 1  Type 2  Type 3  Type 4
a      36      93      19      25
b      96      71      99      30
c      13      95      84      95