# SCS2013 Exercise 06 (2022-Fall)

**This exercise notebook will go through the "Error Exceptions" and "Functions" in Python:**

* Errors and Exceptions
* Python function
* Variable Scope

## Python Errors and Exceptions

Python has built-in exceptions which can output an error: if an error occurs while running the program, it calls an exception. 

To handle exceptions, the `try`-`except` block is used.

- `try`: the code with the exceptions to catch. If an exception is raised, it jumps straight into the except block
- `except`: this code is only executed if an exception occured in the `try` block. 
- `else`: code in `else` block is only executed if no exceptions were raised in the `try` block
- `finally`: the code in the `finally` block is always executed, regardless of if an exception was raised or not

In [ ]:
# syntax errors
if a < 3

# colon이 없으므로 문법 오류

In [ ]:
# logical errors 
sum_squares = 0
for i in range(10):
  i_sq = i**2
sum_squares += i_sq

print(sum_squares)

# 들여쓰기가 제대로 안 된 경우
# 9의 제곱인 81만 값으로 나옴

In [ ]:
# logical errors 
nums = 0
for num in range(10):
  num += num

print(nums)

# num이 아닌 nums에 더해줘야 함 (잘못된 변수 사용)

In [ ]:
# runtime errors
print(Q)

# 애초에 정의하지 않았던 변수 사용

In [ ]:
# runtime errors 
1/0

# ZeroDivisionError

In [ ]:
# try-except for ZeroDivisionError
a = 5
b = 0

try: 
  result = a/b
  print(result)
except ZeroDivisionError:
  print('You cannot divide by zero')

You cannot divide by zero

In [ ]:
import sys
randomList = ['a', 0, 2, 4]

for i in randomList:
  try:
    print(f'The item is {i}')
    r = 1/int(i)
    break
  except:
    print(f'Errors: {sys.exc_info()[0]} occured!!')
    print(f'Skip and Move to next item\n')

print(f'The reciprocal of {i} is {r}')

We can write different logic for each type of exception that happens, by using multiple `except` blocks

In [ ]:
#a = 'Hello'
a = 10
b = 0

try:
  result = a/b
  print(result)
except TypeError:
  print('Type Error')
except ZeroDivisionError:
  print('Zero Division Error')
except:
  print('Other errors')

We can use `else` block, and `finally` block as follows:

In [ ]:
try:
  num = int(input('Enter a number: '))
  r = 1/num
except:
  print('Something is wrong')
else:
  print('Everything is good')
  print(r)

# else는 except가 발생하지 않을 경우, 문제가 없을 경우에 실행되는 문구를 넣어주면 된다.

In [ ]:
try:
  num = int(input('Enter a number: '))
  r = 1/num
except:
  print('Something is wrong')
else:
  print('Everything is good')
  print(r)
finally:
  print('The "try except" is finished')

Enter a number: abc
Something is wrong
The "try except" is finished

In [ ]:
try:
  x = int(input('Enter number: '))
  y = x+10
except:
  print('Invalid input format for adding 10')
else:
  print(f'User input {x} + {10} = {y}')
finally:
  print('Finish all codes')

In [ ]:
# raise your own exception
x = -1

if x < 0:
  raise Exception("Sorry: no numbers below zero")

## Python Function

Python function is a code block that perform a particular task. 

**Syntax:**
```
def <function_name>(parameters):
  <statements>
  return output
```

Let's first create a function called `print_info` that takes two parameters, `name` and `age` and print their values.

In [ ]:
# 1: print_info that takes name and age, and print their values  
def print_info(name, age):
  print(f'name: {name}, age: {age}')

In [ ]:
# call function 
print_info('Alice', 23)
print_info('Peter', 30)
print_info('James', 25)

name: Alice, age: 23
name: Peter, age: 30
name: James, age: 25

In [ ]:
a = print_info('Alice', 23)
print(a)

name: Alice, age: 23
None

In [ ]:
print_info('Alice')

# age 변수가 입력되지 않았음

Let's create a function called `linear` that takes one parameter $x$ and return the linear output $y = 2x+3$.

In [ ]:
# 2: linear function that outputs y = 2x+3
def linear(x):
  return 2*x+3

In [ ]:
# call function
for x in range(-5,6):
  print(f'x is {x}, y = linear(x) = 2x+3 is {linear(x)}')

x is -5, y = linear(x) = 2x+3 is -7
x is -4, y = linear(x) = 2x+3 is -5
x is -3, y = linear(x) = 2x+3 is -3
x is -2, y = linear(x) = 2x+3 is -1
x is -1, y = linear(x) = 2x+3 is 1
x is 0, y = linear(x) = 2x+3 is 3
x is 1, y = linear(x) = 2x+3 is 5
x is 2, y = linear(x) = 2x+3 is 7
x is 3, y = linear(x) = 2x+3 is 9
x is 4, y = linear(x) = 2x+3 is 11
x is 5, y = linear(x) = 2x+3 is 13

When we want to get the answer back - we need to **return** the value.

In [ ]:
# without return value
def add_1(x,y):
  x+y

# with printing value
def add_2(x,y):
  print(x+y)

# with return value
def add_3(x,y):
  return x+y

In [ ]:
# call function

answer_1 = add_1(3,5)
print('=====')
print(f'without return: answer_1: {answer_1}')

answer_2 = add_2(3,5)
print('=====')
print(f'with print: answer_2: {answer_2}')

answer_3 = add_3(3,5)
print('=====')
print(f'with return: answer_3: {answer_3}')

=====
without return: answer_1: None
8
=====
with print: answer_2: None
=====
with return: answer_3: 8

Functions can take multiple input parameters and output return values (including none).

In [ ]:
# a function without any input parameter and return value

def msg():
  print('Welcome to SCS2013!')

msg()

Welcome to SCS2013!

In [ ]:
# check the output value
a = msg()
print(a)

Welcome to SCS2013!
None

In [ ]:
# a function with input parameters but without return value

def print_info(name, age):
  print('name:', name, ', age:', age)

print_info('Alice', 23)

name: Alice , age: 23

In [ ]:
a = print_info('Alice', 23)
print(a)

name: Alice , age: 23
None

In [ ]:
# a function with input parameters and a return value

def add(x,y):
  return x+y

add(3,5)

8

In [ ]:
a = add(3,5)
print(a)

8

In [ ]:
# a function with input parameters and multiple return values

def add_sub(x,y):
  add = x+y
  sub = x-y
  return add, sub

In [ ]:
result = add_sub(10,2)
print(result)
print(result[0]) # tuple 형태

(12, 8)
12

In [ ]:
a,b = add_sub(10,2)

print('Add:', a)
print('Sub:', b)

Add: 12
Sub: 8

Let's create a function that returns a reversed version of an input object
  - input can be list, string, ...

In [ ]:
my_str = "python"
my_str[::-1]

'nohtyp'

In [ ]:
# make a function that reverses the input
def rev(my_text):
  return my_text[::-1]

In [ ]:
result1= rev('python')
result2 = rev([1,2,3])

lst = [1, 2, 3, 'a']
lst = lst.reverse()
print(lst)


print(result1)
print(result2)

nohtyp
[3, 2, 1]
None

## Variable Scope

When we define a function with variables, then those variables' scope is limited to that function. The **scope** is the effective range of the variable, which is the scope within which the variable can be used. 

- We cannot access the local variables from outside of the function. 
- We can access the global variables from everywhere.

In [ ]:
def f1():
  my_Str = 'Test variable scope'
  print('Inside f1(): my_Str:', my_Str)

f1()

# this will crash because my_str is a local variable

# My_str은 local variable
# print('Outside f1(): my_Str:', my_Str)

Inside f1(): my_Str: Test variable scope
Outside f1(): my_Str: 10

The parameters of the function are also local variables and can only be used inside the function.

In [ ]:
def f1(x,y):
  print('First value:', x)
  print('Second value:', y)

f1('variable', 'scope')
# print('Outside: first value:', x)
# print('Outside: second value:', y)

First value: variable
Second value: scope

In addition to defining variables inside functions - **local variables**-, Python also allows variables to be defined outside of all functions - **global variables**.

Unlike local variables, the default scope of global variables is the entire program - can be accessible everywhere!

In [ ]:
# global variable is visible everywhere 
# local variable is only visible inside a function

a = 100

def f1():
  b = 10
  print('1:', a)
  print('2:', b)

f1()
print('3:', a)
print('4:', b)

1: 100
2: 10
3: 100
4: 8

Global variable is **protected** by default: setting/changing a global variable from within a function is not simple.

In [ ]:
a = 100
print('1: Outside a function:', a)

def f1():
  a = 10
  print('2: Inside a function:', a)

f1()
print('3: Outside a function:', a)

1: Outside a function: 100
2: Inside a function: 10
3: Outside a function: 100

To set the global variable inside a function: use **`global`** keyword.

In [ ]:
a = 100
print('1: Outside a function:', a)

def f1():
  # use global keyword to declare a global variable inside a function
  global a
  a = 10
  print('2: Inside a function:', a)

f1()
print('3: Outside a function:', a)

1: Outside a function: 100
2: Inside a function: 10
3: Outside a function: 10

Various scopes: **LEGB rule**

- **Local (function) scope**: whenever we define a variable within a function, its scope lies only within the function, and it exists for as long as the function is executing.

- **Enclosing (nonlocal) scope**: when we have a nested function: the enclosing scope is the scope of the outer (enclosing) function 

- **Global scope**: whenever a variable is defined outside any function, it is a global variable and its scope is anywhere within the program.

- **Built-in scope**: this is the widest scope that exists - all the special reserved keywords fall under this scope. We can call the keywords anywhere within our program without having to define them before use. 

```
# global scope
x = 0

def outer():
  # enclosed scope
  x = 1
  
  def inner():
    # local scope
    x = 2
```

In [ ]:
x = 100
x1 = 200
print('1: value outside:', x, x1)

def f1():
  x = 70
  x1 = 20

  def f2():
    global x
    x = 7
    x1 = 2
    print('2: value inside f2:', x, x1)

  f2()
  print('3: value inside f1:', x, x1)

f1()
print('4: value outside:', x, x1)

1: value outside: 100 200
2: value inside f2: 7 2
3: value inside f1: 70 20
4: value outside: 7 200

The **`nonlocal`** keyword is useful in nested functions. It causes the variable to refer to the previously bound variable in the closest enclosing scope.

In [ ]:
x = 100
x1 = 200
print('1: value outside:', x, x1)

def f1():
  x = 70
  x1 = 20

  def f2():
    nonlocal x # def f1까지
    x = 7
    global x1 # 전체 global
    x1 = 2
    print('2: value inside f2:', x, x1)

  f2()
  print('3: value inside f1:', x, x1)

f1()
print('4: value outside:', x, x1)

1: value outside: 100 200
2: value inside f2: 7 2
3: value inside f1: 7 20
4: value outside: 100 2

## Exercise for "Functions"

### E-1 

Create a function called `circle_area` that calculates the area of a circle as
$a(r) = \pi r^2$. It takes the radius as input and return the area of a circle.

**note**: you can assign $\pi$ value as $3.1415$

In [ ]:
# your code here

def circle_area(r):
    pi = 3.1415
    area = pi * r**2
    return area

In [ ]:
print(circle_area(2))

12.566

### E-2

Write a function of name `frame_stars` that takes as input a string and return a new string that frames it with ``**********`` (10 stars). For example, 

```
print(frame_stars('Welcome!'))

**********
Welcome!
**********

```

In [ ]:
# your code here

def frame_stars(str):
    new_str = '*' * 10 + '\n' + str + '\n' + '*' * 10
    return new_str

In [ ]:
print(frame_stars('Welcome!'))

**********
Welcome!
**********

### E-3

Create a function called `multiplication_table` 

- takes an integer as input 
- print a multiplication result (구구단)
- and return a list that includes the multiplication results.

For example,

```
a = multiplication_table(3)
>>>
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


print(a)
>>>
[3, 6, 9, 12, 15, 18, 21, 24, 27]
```

In [ ]:
# your code here

def multiplication_table(num):
    list = []
    for i in range(1,10):
        g = num * i
        print(num, 'x', i, '=', g) 
        list.append(g)
    return list

In [ ]:
a = multiplication_table(3)
print(a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
[3, 6, 9, 12, 15, 18, 21, 24, 27]

### E-4

We have a dictionary that includes student's ID and height-weight values. Write a program that prints all information as follows (the order is not important). 

**hint**: You can create a function that takes student ID and height, weight values as inputs and print the information. 

- create a function that takes input of `int` type student ID, `list` type height-weight values

- and apply the function for every item in the dictionary

For example, given dictionary
```
dct = {201:[160, 47], 193:[172, 65], 23:[182, 97], 53:[166, 58], 127:[177, 75], 252:[193, 84]}
```

The results is (the order is not important)
```
Student ID 201, Height 160, Weight 47
Student ID 193, Height 172, Weight 65
Student ID 23, Height 182, Weight 97
Student ID 53, Height 166, Weight 58
Student ID 127, Height 177, Weight 75
Student ID 252, Height 193, Weight 84
```

In [ ]:
dct = {201:[160, 47], 193:[172, 65], 23:[182, 97], 53:[166, 58], 127:[177, 75], 252:[193, 84]}


# create a function
def student_info(dct):
    for k in dct.keys():
        print(f'Student ID {k}, Height {dct[k][0]}, Weight {dct[k][1]}')


# apply the function for all items in the dictionary
student_info(dct)

Student ID 201, Height 160, Weight 47
Student ID 193, Height 172, Weight 65
Student ID 23, Height 182, Weight 97
Student ID 53, Height 166, Weight 58
Student ID 127, Height 177, Weight 75
Student ID 252, Height 193, Weight 84

### E-5
Write a function called `get_sum` that 
* takes input of three numbers: `start`, `end`, `num` 
* computes and returns the sum of all numbers in the interval [`start`, `end`] that are multiple of `num`.
  * 시작값(`start`)과 끝값(`end`) 사이에 존재하는 `num`의 배수들의 합을 계산하여 반환하는 함수를 구현합니다.

In [ ]:
# your code here


def get_sum(start, end, num):
    list = []
    for i in range(start, end + 1):
        if i % num == 0:
            list.append(i)
    
    return list

In [ ]:
print(get_sum(3, 20, 5))
#print(get_sum(3, 20))

[5, 10, 15, 20]

### E-6

Write a function `sort_lst` that 
* takes a hyphen-separated sequence of words and 
* makes the words in a hyphen-separated sequence after sorting them alphabetically, and returns it

Expected results:
```
print(sort_lst('peter-john-emma-alice-daniel'))
>>>
alice-daniel-emma-john-peter
```

In [ ]:
# your code here
def sort_lst(str):
    lst = str.split('-')
    lst.sort()
    new_str = '-'.join(lst)
    return new_str

In [ ]:
print(sort_lst('peter-john-emma-alice-daniel'))

alice-daniel-emma-john-peter