# SCS2013 Exercise 05 (2022 Fall)

**This exercise notebook will go through the "Conditional" and "Loop" statements in Python**

* "if" statement 
* "if-elif-else"
* "For" loop
* "While" loop

## If Statement: Conditional statements (조건문)

With conditional statements, we can control the flow of execution by using certain statements. **"if" statements** are very useful whenever we need a conditional execution.

**Syntax**
```
if <condition>:
  <statement>
```
- starts with **"if"**, followed by a ``<condition>``, and ends with colon **colon :**
- the ``<condition>`` is evaluated as a *Boolean*: either True or False
- the ``<statement>`` is a code block to be executed
- each line of ``<statement>`` must **indented**: 4 spaces or a tab (indentation 들여쓰기)

In [ ]:
# if
x = 3
if x < 10:
  print('x is less than 10')

if x > 10:
  print('x is greater than 10')

if x > 2 and x < 5:
  print('x is in range (2,5)')

x is less than 10
x is in range (2,5)

In [ ]:
# indentation                                                                                                                                                                                    # indentation
x = 1
y = 8

if x > y:
  print('x is %d and y is %d' %(x,y))  
print('x is greater than y')

x is greater than y

### If-Elif-Else Statement

* **if-else**: Make more detailed conditional statements if we use **"else"** statement. 

```
if <condition>:
  <statement 1>
else:
  <statement 2>
```

- if ``<condition>`` is True, the program quits after executing ``<statement 1>``.
- if ``<condition>`` is False, the program quits after executing ``<statement 2>``.

In [ ]:
# if-else

#x = 1
x = 2
if x == 1:
  print('If statement')
  print("SCS2013 If statement!")
else:
  print('Else statement')
  print("SCS2013 Else statement!")

Else statement
SCS2013 Else statement!

In [ ]:
# if-else

isStudent = True
year = 2019

if isStudent and year == 2022: 
  print('I am a freshman in university')
else:
  print('I am a student but not a freshman')

I am a student but not a freshman

* **if-elif-else**: Can use an **"elif"** between "if" and "else" as an additional conditional statement. We can evaluate several conditional cases by using "elif". 

```
if <condition A>:
  <statement 1>
elif <condition B>:
  <statement 2>
elif <condition C>:
  <statement 3>
else:
  <statement 4>
```

- if ``<condition A>`` is True, the program quits after executing ``<statement 1>``.
- if ``<condition A>`` is False and ``<condition B>`` is True, the program quits after executing ``<statement 2>``.
- if ``<condition A>, <condition B>`` are False and ``<condition C>`` is True, the program quits after executing ``<statement 3>``.
- otherwise (= all ``<condition A>, <condition B>, <condition C>`` are False), the program quits after executing  ``<statement 4>``.

In [ ]:
# if-elif-else

x = 3
if x < 2:
  print('If: x is less than 2')
elif x < 10: # x  >= 2가 이미 포함
  print('Elif: x is greater than or equal to 2')
  print('And x is less than 10')
elif x < 20:
  print('Elif: x is greater than or equal to 2, and x is greater than or equal to 10')
  print('And x is less than 20')
else:
  print('Else: x is greater than or equal to 20')

Elif: x is greater than or equal to 2
And x is less than 10

In [ ]:
# if-elif-else

score = 90
if 80 < score <= 100:
  print('A-level')
elif 60 < score <= 80:
  print('B-level')
elif 40 < score <= 60:
  print('C-level')
elif 20 < score <= 40:
  print('D-level')
else:
  print('E-level')

A-level

**Nested If Statements**: Nested if can be useful when we need to expand several conditional statements.

In [ ]:
# nested if

# x = 3
# y = "Hello"

# x = 3
# y = 'Wow'

x = 7
#y = 'Hello'
y = 'Wow'

x = 3
y = "Hello"

if x < 5:
  if y == "Hello":
    x = 0
  else:
    y = "Hi"
else:
  x = 10

print(f'x is {x} and y is {y}')

x is 0 and y is Hello

### Pass statement and Conditional expressions

A pass statement is a **null** statement - when it is executed, nothing happens. When a statement is syntatically required but you have nothing specific to do - then we need to use a 'pass' statement.



A conditional expression is a concise version of `if-else` statement: write if in one line

In [ ]:
i = 1

if i > 7:
  pass
else:
  print(i)
  print('i is less than 7 - you are in "else" statement')

1
i is less than 7 - you are in "else" statement

In [ ]:
# if-else statement 
a = 1
if a % 2 == 0:
  result = 'even'
else:
  result = 'odd'

print(result)

odd

In [ ]:
# conditional expression
a = 1
result = 'even' if a % 2 == 0 else 'odd'
print(result)

odd

### User input and Random number

- User input: `input()`
  - we can ask the user for input
  - use the `input()` method
  - entered input value is always a string - we need to convert it if we want to use it as numerical value


- Random number generator: `random.randint(start, end)`
  - need to `import random` first!
  - return a random number between `start` and `end` (both included)

In [ ]:
# user input
num1 = input('Num1: ')
print(f'Input num1 is {num1}, type: {type(num1)}')

num2 = int(input('Num2: '))
print(f'Input num2 is {num2}, type: {type(num2)}')

Num1: 24
Input num1 is 24, type: <class 'str'>
Num2: 24
Input num2 is 24, type: <class 'int'>

In [ ]:
# user input
name = input('What is your name: ')
age = int(input('What is your age: '))

print(f'My name is {name}! I\'m {age} years old')

What is your name: james
What is your age: 25
My name is james! I'm 25 years old

In [ ]:
# random integer
import random 

num = random.randint(1,10)
print(num)

num = random.randint(1,10)
print(num)

5
4

## Loop statements (반복문)

**Loop** is a very powerful concept to execute a task in iterations:

### For Loop
**For loop** is used for repeating a task for a desired number of times.

```
for iterator in iterable:
  <statement>
```
- iterator: a variable that is used to iterate through the collection 
- iterable: a sequence or collection through which iteation happens in for loops 
  - list ``['a','b','c']``, range ``range(3)``, tuple ``(1,2,3)``, ... 
- statement: code block to be executed during each iteration in the loop - must **indented**

In [ ]:
# list 
a = ['a','b','c']
print(a)

a = [0,1,2]
print(a)

['a', 'b', 'c']
[0, 1, 2]

In [ ]:
# range()
b = range(3)
print(b)
print(tuple(b))

print(b[0])
print(b[1])
print(b[2])

c = range(1,11)
print(c)
print(list(c))

print(c[0])
print(c[3])

d = range(1, 11, 2)
print(d)
print(list(d))

range(0, 3)
(0, 1, 2)
0
1
2
range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
4
range(1, 11, 2)
[1, 3, 5, 7, 9]

In [ ]:
# 1: without for loop, print each element of ['a','b','c']

lst = ['a','b','c']

val = lst[0]
print(val)

val = lst[1]
print(val)

val = lst[2]
print(val)

# 1: with for loop, print each element of ['a','b','c']

lst = ['a','b','c']
for val in lst:
  print(val)

a
b
c
a
b
c

In [ ]:
for val in range(2, 20, 3):
  print(val)

# 구구단 문제도 많이 사용

for i in range(1, 10):
    print(3 * i)

2
5
8
11
14
17
3
6
9
12
15
18
21
24
27

In [ ]:
# 2

for iter in ['a','b','c']:
  print(f'Hi! {iter}')

print('=====')
for iter in range(5):
  i_str = 'Hi'*iter
  print(i_str)

Hi! a
Hi! b
Hi! c
=====

Hi
HiHi
HiHiHi
HiHiHiHi

In [ ]:
# 3: compute a sum and product of all numbers from 1 to 4

sum = 0 
for i in range(1,5):
  sum = sum+i
  print(sum)

print('=====')

product = 1
for i in range(1,5):
  product *= i
  print(product)

1
3
6
10
=====
1
2
6
24

In [ ]:
# 4: a loop that prints all odd numbers in [1,10]

for i in range(1,11):
  if i % 2 == 1:
    print(f'{i} is an odd number')

1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number

In [ ]:
# 5: given a sentence, print each word

my_str = 'One year has 12 months, 52 weeks and 365 days'
my_lst = my_str.split()

print(my_lst)

for i in my_lst:
  print(i)

['One', 'year', 'has', '12', 'months,', '52', 'weeks', 'and', '365', 'days']
One
year
has
12
months,
52
weeks
and
365
days

In [ ]:
# 6: given a dictionary, print each key and value 

my_dict = {'name': 'Peter', 'birth': ['April', 9], 'age': 27, 'year': 1995, 'Course': 'SCS2013'}

for key in my_dict.keys():
  print(f'Key: {key} and Value: {my_dict[key]}')

print('=====')

for (key, value) in my_dict.items():
  print(f'Key: {key} and Value: {value}')

Key: name and Value: Peter
Key: birth and Value: ['April', 9]
Key: age and Value: 27
Key: year and Value: 1995
Key: Course and Value: SCS2013
=====
Key: name and Value: Peter
Key: birth and Value: ['April', 9]
Key: age and Value: 27
Key: year and Value: 1995
Key: Course and Value: SCS2013

In [ ]:
# Nested for loop

num = 5
for i in range(1,num+1):
  print(f'Line {i}:', end=' ')
  for j in range(1,i+1):
    print(j, end=' ')

  print('')

Line 1: 1
Line 2: 1 2
Line 3: 1 2 3
Line 4: 1 2 3 4
Line 5: 1 2 3 4 5

### While Loop

**While Loop** is another powerful repetition structure in Python. 

```
while <condition>:
  <statement>
```

It executes the ``<statement>`` as long as the ``<condition>`` is satisfied.

In [ ]:
# 1 
i = 0
while i < 3:
  print('Hello World!')
  i = i + 1

Hello World!
Hello World!
Hello World!

In [ ]:
# 2
num_boxes = 3
while num_boxes > 0:
  print(f'There are {num_boxes} boxes. Remove one.')
  num_boxes -= 1
  print(f'There are {num_boxes} boxes left.')

  if num_boxes == 0:
    print('There is no box!')

There are 3 boxes. Remove one.
There are 2 boxes left.
There are 2 boxes. Remove one.
There are 1 boxes left.
There are 1 boxes. Remove one.
There are 0 boxes left.
There is no box!

In [ ]:
i = 10

while True:
    print(i)
    i -= 1
    if i == 0:
        break

10
9
8
7
6
5
4
3
2
1

### Break, Continue Statements

* A **break** statement terminates the loop
* A **continue** statement skips a code block in the loop for the current iteration.

In [ ]:
i = 10

while i > 0:
  i = i-1
  if i > 7:
    continue
  elif i < 3:
    break
  else:
    print(i)

7
6
5
4
3

In [ ]:
for i in range(10):
  if i % 3 == 0:
    continue
  if i == 8:
    break

  print(i)

1
2
4
5
7

In [ ]:
count_even = 0
count_odd = 0

while True:
  val = int(input('Enter an integer: '))
  if val == 10:
    break
  elif val % 2 == 0: 
    count_even += 1
  else: 
    count_odd += 1

print(f'Finish the loop: number of evens {count_even} and number of odds {count_odd}')

Enter an integer: 5
Enter an integer: 4
Enter an integer: 3
Enter an integer: 10
Finish the loop: number of evens 1 and number of odds 2

## input() and random.randint()

Python allows for user input: we are able to ask the user for input.

Syntax of `input()`

```
input([prompt])
```
- If you enter an integer or float number, it will convert it into a **string**. If you want input in other data types, need to perform **type conversion** on the input value.

In [ ]:
# take name and age values from user
name = input('Enter Name: ')
age = input('Enter Age: ')

print('\n')
print(f'Name: {name}, Age: {age}')
print('Print type of each input value')
print(f'Type of name {type(name)}, Type of age {type(age)}')

Enter Name: geuntae
Enter Age: 25


Name: geuntae, Age: 25
Print type of each input value
Type of name <class 'str'>, Type of age <class 'str'>

In [ ]:
first_num = input('Enter first number (integer): ')
second_num = input('Enter second number (float): ')

print('\n')
print(f'First number {first_num} and Second number {second_num}')
print(f'First num + Second num = {first_num + second_num}')

print('\nType conversion')
first_num = int(first_num)
second_num = float(second_num)
print(f'First number {first_num} and Second number {second_num}')
print(f'First num + Second num = {first_num + second_num}')

Enter first number (integer): 5
Enter second number (float): 4.1


First number 5 and Second number 4.1
First num + Second num = 54.1

Type conversion
First number 5 and Second number 4.1
First num + Second num = 9.1

By doing `import random`, we can handle 'random' numbers: 

Syntax of `random.randint()`
```
import random
random.randint(start, end, step)
```
- If generates a random number (integer) between 'start' and 'end' (both included).

In [ ]:
import random

num = random.randint(1,10)
print(num)

num = random.randint(1,10)
print(num)

num = random.randint(1,10)
print(num)

5
1
1

## Exercise

Let's try some exercises that will help understand conditional statements and loop statements.

### E-1

Write a program that finds the decimal part (소수점 이하) of `num` and print "The decimal part of `num` is `decimal part`". 

If decimal part is zero, print "`num` is an integer".

*hint*: you can use `int()` function or use `%` operator to find the decimal part. 

*expected result*: when `num = 11.11`
```
The decimal part of 11.11 is 0.110
```
when `num = 11`
```
11 is an integer
```

In [ ]:
num = 11.11
# num = 11

# your code here
if num % 1 == 0:
    print(num, 'is an integer')

else:
    print(f'The decimal part of {num} is {num % 1:.2f}')

11 is an integer

### E-2

Write a program that counts the number of words that start with a letter `C` or `c` in a string `my_str`. 

```
my_str = "Never again will you be capable of ordinary human feeling. Everything will be dead inside you. Never again will you be capable of love, or friendship, or joy of living, or laughter, or curiosity, or courage, or integrity. You will be hollow. We shall squeeze you empty, and then we shall fill you with ourselves."
```

In [16]:
my_str = '''Never again will you be capable of ordinary human feeling. Everything will be dead inside you. Never again will you be capable of love, or friendship, or joy of living, or laughter, or curiosity, or courage, or integrity. You will be hollow. We shall squeeze you empty, and then we shall fill you with ourselves.'''

result = 0
str = my_str.split()
type(str[0])
# your code here: use for, if, and pass
a = 0

for i in range(len(str)):
    if str[i].count('c') != 0:
        a += 1

print(a)

4

### E-3

Given the list, write a program that follows the below rule: You can use `for` and `if-elif-else`.

- print the number if it is multiple of 5
- if the number is greater than 200, stop the loop 
- if the number is less than 100, skip the iteration and move to the next number


Given the list `lst = [125, 12, 50, 160, 198, 250, 721, 110]`, the result will be:
```
125
160
```

In [ ]:
lst = [125, 12, 50, 160, 198, 250, 721, 110]

# your code here
for ls in lst:
    if ls > 200:
        break
    elif ls < 100:
        continue
    elif ls % 5 == 0:
        print(ls)

125
160

### E-4

Print numbers from 10 to 1 - in the backward direction - using the 'while' loop.

In [ ]:
# your code here

i = 10

while i != 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### E-5

We have generated two random integers between 1 and 50, and ask the user to compute the subtraction: Please check the entered answer is correct or not.

Example of results will be:
```
What is 22 - 34?: 
>> -12
Great!
```
```
What is 44 - 34?: 
>> 5
Wrong!
```

In [ ]:
import random 

x = random.randint(1,50)
y = random.randint(1,50)

answer = int(input(f'What is {x} - {y}?:\n>> '))

# your code here: check whether the entered answer is correct or not

if (answer == x -y):
    print('Great!')
else:
    print('Wrong!')

What is 39 - 31?:
>> 8
Great!

### E-6

Write a program that generates and prints a random number as long as the number is not 0. (Use `while` loop)

- *note*: you can generate a random integer in $[0, 10]$ by using `random.randint(0,10)`
- but you first need to import `import random` in order to use `random.randint()` function


One example of result will be:
```
Number is 10
Number is 2
Number is 3
Stop
```

In [ ]:
import random 
num = random.randint(0,10)

# your code here: generate a random number as long as the number is not 0
while num!= 0:
    print('Number is', num)
    num = random.randint(0,10)

print('Stop')

Number is 7
Number is 5
Number is 8
Number is 7
Number is 8
Number is 1
Stop

### E-7

Take input integers from the user repeatedly and compute the total sum of the entered integers. The loop continues until the user enters `0`.

- hint: we can use ` while True` and `break` for this 

Example of result:
```
Enter an integer: 3
Enter an integer: 5
Enter an integer: 2
Enter an integer: 0
Finish the loop: total sum is 10
```

In [ ]:
sum = 0
num = int(input('Enter an integer: '))

# your code here: take input integers from user repeatedly and compute the total sum
while num != 0:
    sum += num
    num = int(input('Enter an integer: '))

print(f'Finish the loop: total sum is {sum}')

'''
while True:
    num = int(input('Enter an integer: '))
    if num == 0:
        break
    else:
        sum += num

print(f'Finish the loop: total sum is {sum}')
'''

# 반복횟수 한정되면 for문, 언제 반복이 끝날지 모르면 while

Enter an integer: 3
Enter an integer: 5
Enter an integer: 2
Enter an integer: 1
Enter an integer: 0
Finish the loop: total sum is 11