# SCS2013 Exercise 09 (2022 Fall)

**This exercise notebook will go through the understanding of "Built-in Functions" and "List comprehension" and "Copy"**

- understanding built-in functions
- List comprehension 
- copy values in Python

## Built-in Functions 

Python provides a lot of built-in functions. We now know a framework of function in Python! Let's check some popular built-in functions again.

In [1]:
x = abs(-3.44)
print('절댓값:', x)

절댓값: 3.44

In [2]:
my_lst = [True, True, 1, 0]
x = all(my_lst) # 모두가 True여야 
print(x)
y = any(my_lst) # 한 개만 True여도
print(y)

False
True

In [3]:
fruits = ('Apple', 'Banana','Kiwi')
x = enumerate(fruits) # start default = 0
print(x)
print(list(x))

y = enumerate(fruits, start=1)
print(list(y))

for i, val in enumerate(fruits, start = 1):
    print(i, val)

<enumerate object at 0x7f36c83e6780>
[(0, 'Apple'), (1, 'Banana'), (2, 'Kiwi')]
[(1, 'Apple'), (2, 'Banana'), (3, 'Kiwi')]
1 Apple
2 Banana
3 Kiwi

In [4]:
x = input('Enter your name: ') # input type은 string
print('Hi! '+x)

Enter your name: james
Hi! james

In [5]:
x = input('Enter employee name, age, and salary separated by space: ')
print(x)

Enter employee name, age, and salary separated by space: james 24 100000000
james 24 100000000

In [6]:
name, age, salary = input('Enter employee name, age, and salary separated by space: ').split()
print(f'Employee information: Name {name}, Age {age}, Salary {salary}')
print(f'Type of each input: Name {type(name)}, Age {type(age)}, Salary {type(salary)}')

Enter employee name, age, and salary separated by space: james 24 10000000000
Employee information: Name james, Age 24, Salary 10000000000
Type of each input: Name <class 'str'>, Age <class 'str'>, Salary <class 'str'>

In [7]:
input_str = input('Enter elements of a list separated by space: ')

input_lst = input_str.split()
print('input list: ', input_lst)
print(type(input_lst))

for i in range(len(input_lst)):
  input_lst[i] = int(input_lst[i])

print('input list: ', input_lst)
print(type(input_lst))

Enter elements of a list separated by space: 4
input list:  ['4']
<class 'list'>
input list:  [4]
<class 'list'>

In [8]:
# ***
n = int(input('Enter the size of the list: '))
print('\n')
input_lst = list(int(num) for num in input('Enter the list elements separated by space: ').split()[:n])

print('input list: ', input_lst)

Enter the size of the list: 5


Enter the list elements separated by space: 1 2 3 4 5
input list:  [1, 2, 3, 4, 5]

Get multiple lines, where each line is taken by using `input()`

In [9]:
# list to store multi-line input
# press enter Q to exit

data = []
print("Tell me about yourself (enter Q to exit): ")
while True:
    line = input()

    if line == 'Q':
      break
    else:
      data.append(line)

Tell me about yourself (enter Q to exit):
5
4
Q

In [10]:
print(data)

finalText = '\n'.join(data)
print("Final text input")
print(finalText)

['5', '4']
Final text input
5
4

In [11]:
name = input('Enter name: ')
age = input('Enter age: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

Enter name: james
Enter age: 24
Enter salary: 1000000000000
Enter company name: samsung

In [12]:
print(name, age, salary, company, sep='-')

print(name, end=', ')
print(age, end=', ')
print(salary, end=', ') # 기본적으로 줄바꿈인데 end 파라미터로 줄바꿈 X
print(company)

james-24-1000000000000-samsung
james, 24, 1000000000000, samsung

In [13]:
#range()
#x = range(11)
#x = range(2,11)
x = range(2,11,3)

print(x)

for i in x:
  print(i)

range(2, 11, 3)
2
5
8

In [14]:
x = round(3.1415, 2) # 소수 둘째자리
y = round(3.1415)
print(x)
print(y)

x = round(-3.1415, 2)
y = round(-3.1415)
print(x)
print(y)

3.14
3
-3.14
-3

In [15]:
my_tup = ('c','g','f','q','h','y','a','p','k')
x = sorted(my_tup) # 기본 내림차순
print(x)
y = sorted(my_tup, reverse=True)
z = sorted(my_tup, reverse=False)
print(y)
print(z)

['a', 'c', 'f', 'g', 'h', 'k', 'p', 'q', 'y']
['y', 'q', 'p', 'k', 'h', 'g', 'f', 'c', 'a']
['a', 'c', 'f', 'g', 'h', 'k', 'p', 'q', 'y']

In [16]:
a = zip([10,20,30], ('Apple','Banana','Kiwi'))
print(a)

<zip object at 0x7f36c83dedc0>

In [17]:
for item in zip([10,20,30], ('Apple','Banana','Kiwi')): # 넣어준 2개의 각각 요소를 묶어주는 것, enumerate는 index 순서느낌
  print(item)

(10, 'Apple')
(20, 'Banana')
(30, 'Kiwi')

In [18]:
my_tup = ['c','g','f','q','h','y','a','p','k']

for item in zip(range(5), sorted(my_tup)):
  print(item)

(0, 'a')
(1, 'c')
(2, 'f')
(3, 'g')
(4, 'h')

## List comprehensions

```
[ expression for item in iterable ]
```
```
[ output parameter | the iterable | condition ]
```

1. Iterating through a string 'human'

In [19]:
l_list = []

for letter in 'human':
  l_list.append(letter)

print(l_list)

['h', 'u', 'm', 'a', 'n']

In [20]:
l_list = [ letter for letter in 'human' ]
print(l_list)

['h', 'u', 'm', 'a', 'n']

In [21]:
l_list = [ letter+'?' for letter in 'human']
print(l_list)

['h?', 'u?', 'm?', 'a?', 'n?']

In [22]:
lst_1 = [x for x in range(0,10)]
print(lst_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Conditionals in list comprehension

In [23]:
t_lst = []

for x in range(10):
    if x % 2 == 0:
        t_lst.append(x)
print(t_lst)

[0, 2, 4, 6, 8]

In [24]:
n_list = [ x for x in range(10) if x % 2 == 0 ]
print(n_list)

[0, 2, 4, 6, 8]

In [25]:
lst_2 = [x for x in range(0,10) if x > 5]
print(lst_2)

[6, 7, 8, 9]

In [26]:
lst_3 = [x for x in 'Python Programming' if x in ['a','e','i','o','u']]
print(lst_3)

['o', 'o', 'a', 'i']

In [27]:
lst = []
for i in range(1,30):
  if int(i**0.5) == i**0.5:
    lst.append(i)

print(lst)

[1, 4, 9, 16, 25]

In [28]:
lst = [i for i in range(1,30) if int(i**0.5) == i**0.5]
print(lst)

[1, 4, 9, 16, 25]

3. Nested IF, If-Else with list comprehension

In [29]:
n_list = [x for x in range(21) if x % 2 == 0 if x % 3 == 0 ]
print(n_list)

[0, 6, 12, 18]

In [30]:
n_list = [(x,'Even') if x % 2 == 0 else (x,'Odd') for x in range(5)]
print(n_list)

[(0, 'Even'), (1, 'Odd'), (2, 'Even'), (3, 'Odd'), (4, 'Even')]

4. Nested loops in list comprehension

In [31]:
n_list = [[i*j for j in range(1,11)] for i in [2,3,5]]
print(n_list)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

5. Comprehension for dictionary

In [32]:
def dict_for(keys, values):
  my_dct = {}
  for i in range(len(keys)):
    my_dct[keys[i]] = values[i]
  return my_dct

Movie = ['Sholay', 'Wanted', 'War']
Actor = ['Amitabh', 'Salman', 'Hritik']
print(dict_for(Movie, Actor))

{'Sholay': 'Amitabh', 'Wanted': 'Salman', 'War': 'Hritik'}

In [33]:
def dict_compr(keys, values):
  return {keys[i]: values[i] for i in range(len(keys))}

Movie = ['Sholay', 'Wanted', 'War']
Actor = ['Amitabh', 'Salman', 'Hritik']
print(dict_compr(Movie, Actor))

{'Sholay': 'Amitabh', 'Wanted': 'Salman', 'War': 'Hritik'}

## Copy in Python

How to copy values in Python? 

1. Use **assignment operator "="**
- values are not copied: both the variable is just referring to the same object

In [34]:
# copy using an assignment operator

lst_a = [2,5,4,3,6,1]
print(lst_a)

lst_b = lst_a
print(lst_b)

lst_a[0] = 10
print(lst_a)
print(lst_b)

[2, 5, 4, 3, 6, 1]
[2, 5, 4, 3, 6, 1]
[10, 5, 4, 3, 6, 1]
[10, 5, 4, 3, 6, 1]

2. Use **constructor** or **slicing**
- the list is copied

In [35]:
# copy using constructor, or slicing

lst_a = [2,5,4,3,6,1]
print(lst_a)

lst_b = list(lst_a)
print(lst_b)

lst_a[0] = 10
print(lst_a)
print(lst_b)

[2, 5, 4, 3, 6, 1]
[2, 5, 4, 3, 6, 1]
[10, 5, 4, 3, 6, 1]
[2, 5, 4, 3, 6, 1]

3. Use shallow copy **copy()**
- the list is copied
- but it cannot copy a nested List

In [36]:
# copy using shallow copy: copy()

from copy import copy

lst_a = [2,5,4,3,6,1]
print(lst_a)

lst_b = copy(lst_a)
print(lst_b)

lst_a[0] = 10
print(lst_a)
print(lst_b)

[2, 5, 4, 3, 6, 1]
[2, 5, 4, 3, 6, 1]
[10, 5, 4, 3, 6, 1]
[2, 5, 4, 3, 6, 1]

In [37]:
# shallow copy for nested list

from copy import copy

lst_a = [1,[2,3],[4,5]]
print(lst_a)

lst_b = copy(lst_a) # list 안에 있는 list까지는 deep하게 copy하지 못함
print(lst_b)

lst_a[0] = 10
lst_a[1][0] = 100
print(lst_a)
print(lst_b)

[1, [2, 3], [4, 5]]
[1, [2, 3], [4, 5]]
[10, [100, 3], [4, 5]]
[1, [100, 3], [4, 5]]

4. Use deep copy **deepcopy()**
- create a new object and recursively keeps adding copies of the nested elements

In [38]:
# deep copy for nested list: deepcopy()

from copy import deepcopy

lst_a = [1,[2,3],[4,5]]
print(lst_a)

lst_b = deepcopy(lst_a) # 하위 리스트까지 복사
print(lst_b)

lst_a[0] = 10
lst_a[1][0] = 100
print(lst_a)
print(lst_b)

[1, [2, 3], [4, 5]]
[1, [2, 3], [4, 5]]
[10, [100, 3], [4, 5]]
[1, [2, 3], [4, 5]]

## Exercises

### E-1

Using `print()` function, display the given words, e.g., `'word1'`, `'word2'`, `'word3'`, in the format `'word1**word2**word3`.

In [39]:
# display four words 'My', 'Name', 'is', 'Kim' in the mentioned format
# your code here

lst1 = ['word1', 'word2', 'word3']

for i in lst1:
    print(i, end = "**")

word1**word2**word3**

### E-2

Write a function `report_GPA` 
- takes a number of classes as a function argument
- in function: the user can enter each of his classes and scores, after which the program prints out a class list, grade list, and average GPA

Resuls:
```
report_GPA(3)
>>>
Class 1
What was the name of this class? >>> SCS2013
What was your score? >>> 95
Class 2
What was the name of this class? >>> AIX7026
What was your score? >>> 76.3
Class 3
What was the name of this class? >>> AIC2001
What was your score? >>> 88.8
Class list: ['SCS2013', 'AIX7026', 'AIC2001']
Score list: [95.0, 76.3, 88.8]
Overall GPA: 86.7
```

In [40]:
# your code here:
def report_GPA(num_classes):
  # class and score list
  class_list = []
  score_list = []

  # Using a for loop, take user inputs of name of each class and corresponding score,
  # and add it to class_list and score_list
  for i in range(num_classes):
      print(f'Class {i+1}')
      c = input('What was the name of this class? >>> ')
      score = float(input('What was your score? >>> '))
      class_list.append(c)
      score_list.append(score)

  overall_gpa = sum(score_list) / len(score_list)


  print('Class list:', class_list)
  print('Grade list:', score_list)

  # compute the overall gpa as an average of scores


  print(f'Overall GPA: {overall_gpa}')

In [41]:
report_GPA(3)

Class 1
What was the name of this class? >>> SCS2013
What was your score? >>> 95
Class 2
What was the name of this class? >>> AIX7026
What was your score? >>> 76.3
Class 3
What was the name of this class? >>> AIC2001
What was your score? >>> 88.8
Class list: ['SCS2013', 'AIX7026', 'AIC2001']
Grade list: [95.0, 76.3, 88.8]
Overall GPA: 86.7

### E-3

Write a list comprehension that prints out the possible results of two coin flips: one result would be `"ht"`. 

Result:
```
['hh', 'ht', 'th', 'tt']
```

In [47]:
coin = ['h','t']

# your code here:
lst = []
for i in range(2):
    for j in range(2):
        lst.append(coin[i]+coin[j])
print(lst)

['hh', 'ht', 'th', 'tt']

### E-4

Write a function called `pick_vowels` that takes in a string and uses a list comprehension to return all the vowels, i.e., `'a','e','i','o','u'`, in the string.

In [50]:
vowels = ['a','e','i','o','u']

# your code here:
def pick_vowels(str):
    lst = []
    for i in str:
        if i in vowels:
            lst.append(i)
    return lst

In [51]:
# test
print(pick_vowels('hello world! python programming'))

['e', 'o', 'o', 'o', 'o', 'a', 'i']

### E-5

Use a list comprehension to make equivalent results of following nested for loops:

```
n_list = []

for a in [10, 20, 30]:
  for b in [1, 2, 3]:
    n_list.append(a+b)
```

In [52]:
# using nested for loops
n_list = []

for a in [10, 20, 30]:
  for b in [1, 2, 3]:
    n_list.append(a+b)

print(n_list)

[11, 12, 13, 21, 22, 23, 31, 32, 33]

In [54]:
# your code here:

n_list = [a+b for a in [10,20,30] for b in [1,2,3]]
print(n_list)

[11, 12, 13, 21, 22, 23, 31, 32, 33]