# SCS2013 Exercise 07 (2022-Fall)

**This exercise notebook will go through the "Functions" in Python:**

* Python function arguments
* Resursion 
* Python Lambda

## Python Function Arguments

In Python functions, information can be passed into functions as parameters 

- **parameter** is the variable listed inside the () in the function definition
- **argument** is the value that is sent to the function when it is called 

We can add as many parameters as we want by separating them with a comma ","

### Positional Arguments
By default, functions have a fixed number of arguments, and a function must be called with the correct number and position of arguments - called **"positional arguments"**

In [ ]:
# my_func with two arguments 
def my_func(name1, name2):
  print(f'Name 1 is {name1}, Name 2 is {name2}')

# when call a function, we need to pass two arguments in the order 
my_func('Alice', 'Kim')
my_func('Kim', 'Alice')

In [ ]:
# what if try to call the function with different number of arguments?
my_func('Alice')

In [ ]:
# no argument?
my_func()

### Arbitrary Positional Arguments

Sometimes, we do not know in advance the number of arguments that will be passed into a function. Python allows us to handle this scenario: calling a function with an arbitrary number of arguments - **arbitrary (positional) arguments: `*args`**

In the function definition, we use an ($*$) before the parameter name to denote this kind of argument as a **"tuple"**.

In [ ]:
def hello_all(*names):
  print(names) 
  print(type(names))

  # print all the names in the 'names' tuple
  for name in names:
    print(f'Hello! {name}')

  # print all the names in the 'names' tuple using index
  for i in range(len(names)):
    print(f'Name {i}: {names[i]}')

In [ ]:
hello_all('Alice','John','Peter','Emma')

In [ ]:
hello_all('Peter','Alice','David')

### Keyword Arguments 

When we call a function with some values, these values get assigned to the arguments according to their position. Python allows functions to be called using **keyword arguments: `kwargs`** - the order of the arguments can be changed.

In [ ]:
# msg function with three arguments

def msg(name, msg1, msg2):
  print(f'Hello {name}, {msg1} and {msg2}')

In [ ]:
# three positional arguments 
msg('Alice','Good morning', 'How are you?')

# three keyword arguments
msg(name='Alice', msg1='Good morning', msg2 = 'How are you?')

# three keyword arguments with different order
msg(msg2 = 'How are you?', name='Alice', msg1 = 'Good morning')

# one positional argument and two keyword arguments
msg('Alice', msg2 = 'How are you?', msg1='Good morning')

We can mix positional arguments with keyword arguments during a function call - but positional arguments first and then keyword arguments.

In [ ]:
# one keyword argument first and then two positional arguments
msg(msg1='Good morning', 'Alice', 'How are you?')

### Arbitrary Keyword Arguments

If we do not know how many keyword arguments will be passed into a function - **arbitrary keyword arguments**. In the function definition, we use an ($**$) before the parameter name to denote this kind of argument as a **"dictionary"**.

In [ ]:
def hello_all(**names):
  print(names)
  print(type(names))

  # print all the names in the 'names' dictionary
  for i in (sorted(names.keys())):
    print(f'Key: {i}, Value: {names[i]}')

In [ ]:
hello_all(name1='Alice', name2='John', name3='Peter', name4='Emma')

In [ ]:
hello_all(name2='Peter',name4='Alice',name1='David')

**Default Arguments**

Function arguments can have default values in Python. We can assign a default value to an argument in function definition using assignment operator "=". Default arguments take the default value during the function call if we don't pass them.

In [ ]:
# msg function with two arguments, set a default msg value 'Good morning'

def msg(name, msg='Good morning'):
  print(f'Hello {name}, {msg}')

In [ ]:
# call with two arguments 
msg('Peter', 'Good to see you')

# call with keyword arguments 
msg(msg='Good to see you', name='Peter')

# call with only non-default argument
msg('Peter')

Any number of argument in a function can have a default value. But once we have a default argument, all the arguments to its right must also have default values - non-default arguments first and then default arguments.

In [ ]:
# when defining function, non-default argument first and then default arguments 
def msg(name='Kim', msg):
  print(f'Hello {name}, {msg}')

## Recursion (재귀함수)

A recursive function is a function that calls itself, again and again

In [ ]:
# factorial n! = 1x2x...x(n-1)xn

def factorial(n):
  if n == 1:
    return 1
  else:
    print(f'In factorial({n}): call function factorial({n-1})')
    return n * factorial(n-1)

In [ ]:
num = 5
print(f'The factorial of {num} is {factorial(num)}')

In [ ]:
def recur1(n):
  if n > 0:
    print(n)
    recur1(n-1)

recur1(5)

In [ ]:
def recur2(n):
  if n > 0:
    recur2(n-1)
    print(n)

recur2(5)

In [ ]:
# recursion example: counting backward 
def backward(num):
  if num <= 0:
    print('Less than zero')
    return
  else:
    my_str=''
    for i in range(num):
      my_str += '*'
    
    print(f'{num}: {my_str}')
    backward(num - 2)

backward(9)

In [ ]:
# recursion example: sum of number from 1 to n
def sum_nums(n):
  if n == 1:
    print(f'{n}')
    return 1
  else:
    print(f'{n}', end=' ')
    return n + sum_nums(n-1)

print(sum_nums(5))

## Python Lambda

**Lambda**, called the anonymous function, is used to declare a **function without any name**. The lambda internally returns the expression value.

Syntax
```
lambda <variable name>:<statement>
```

In [ ]:
# normal function
def a(x,y):
  return x**y

print(a(3,4))

In [ ]:
# lambda function
print(lambda x,y: x**y)

a = lambda x,y: x**y
print(a(3,4))

In [ ]:
def multiple_func(n):
  return lambda x:x*n

my_double = multiple_func(2)
my_triple = multiple_func(3)

In [ ]:
print(type(my_double))
print(my_double)

In [ ]:
num = 5

double_num = my_double(num)
triple_num = my_triple(num)

print(double_num)
print(triple_num)

### filter()
**filter()** function is used to return the filtered value. 
``filter(function, iterable)`` - the `function` performs condition checking for each item in `iterable` and return the items for which has 'True' evaluation.

In [ ]:
# a function that selects all even numbers in the list

def select_evens(nums):
  lst = []
  for x in nums:
    if x%2 == 0:
      lst.append(x)
  
  return lst

lst_a = [10, 4, 7, 3, 22, 5, 13]
even_lst = select_evens(lst_a)
print(even_lst)

In [ ]:
# a function that selects all even numbers in the list 
# by using filter() and lambda

lst_a = [10, 4, 7, 3, 22, 5, 13]
even_lst = list(filter(lambda x:x%2 == 0, lst_a))
print(even_lst)

### map()
**map()** function is used to apply some `function` for every element present in the given `iterable`: `map(function, iterable)`.

In [ ]:
# a function that provides a cube of the given list:

lst_a = [10, 4, 7, 3, 22, 5, 13]
cube_lst = list(map(lambda x:x**3, lst_a))
print(cube_lst)

In [ ]:
student = [('James', '17/05/2001', '175cm'), ('Alice', '25/11/1998', '163cm'), ('Peter', '25/08/1999', '182cm')]
print(student)

# student names, birth, height 
student_names = list(map(lambda x: x[0], student))
student_birth = list(map(lambda x: x[1], student))
student_height = list(map(lambda x: int(x[2][:-2]), student))

print('Student names: ')
print(student_names)
print('Student birth: ')
print(student_birth)
print('Student height: ')
print(student_height)

## Exercises

### E-1

Write a function called `product_all` that accepts arbitrary number of numbers as arguments and computes the product(곱) of those numbers.

Result:
```
a = product_all(1,3,5)
print(f'Returned value is {a}')
>>>
Returned value is 15
```

In [1]:
def product_all(*nums):
    total_product = 1
    for i in nums:
        total_product *= i

    return total_product

In [2]:
a = product_all(1,3,5)
print(f'Returned value is {a}')

b = product_all(2,6,3,9,-3)
print(f'Returned value is {b}')

Returned value is 15
Returned value is -972

### E-2

Write a function called `power` that takes two parameters $x,y$ and return the powered value $x^y$. We can call this function as follows:

- **note**: What happens if only one value is passed?

Result:
```
print(power(3,5))
print(power(2,4))
print(power(3))
print(power(4))
>>>
243
16
9
16
```

In [3]:
def power(x, y = 2):
    return x**y

In [4]:
# test the result:
print(power(3,5))
print(power(2,4))
print(power(3))
print(power(4))

243
16
9
16

### E-3

Write a recursive function `recur_list_sum` that calculates the sum of all list elements.

**hint**: you need to check whether the type of each element is "list" or not to decide to call the function again or not!

Expected results:
```
print(recur_list_sum( [1,2,[3,4],[5,6,7]] ))
>>
28
```

In [5]:
def recur_list_sum(lst):
    total_sum = 0
    for i in lst:
        if type(i) == type([]):
            total_sum += recur_list_sum(i)
        else:
            total_sum += i

    return total_sum

In [6]:
print(recur_list_sum( [1,2,[3,4],[5,6,7]] ))

28

### E-4

Write a recursive function `fibonacci` that solves the Fibonaci sequence: `fibonacci(7)` returns 7th Fibonacci number.

**note** 피보나치 수열: 첫째 및 둘째 항이 1, 그 뒤의 모든 항은 바로 앞 두 항의 합인 수열: `1,1,2,3,5,8,13,21, ... `

Expected results:
```
print(fibonacci(4))
print(fibonacci(8))
>>>
3
21
```

In [8]:
def fibonacci(num):
    if num == 1 or num == 2:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)

In [9]:
print(fibonacci(4))
print(fibonacci(8))

3
21

### E-5

Define a function `quadratic` that computes $ax^2+bx+c$ as a result when taking input values $x,a,b,c$.

Also, convert it into a lambda function form and assign it to a variable called `quad`.

Expected results:
```
print(quadratic(10,2,1,2))
print(quad(10,2,1,2))
>>
212
212
```

In [10]:
# your code here: normal function 'quadratic'
def quadratic(x, a, b, c):
    return a*x*x + b * x + c

In [11]:
# your code here: lambda function 'quad'
quad = lambda x, a, b, c: a*x*x+b*x+c

In [12]:
# test the result
print(quadratic(10,2,1,2))
print(quad(10,2,1,2))

212
212

### E-6

Write a function that takes two lists `lst_1` and `lst_2`, and remove all elements from a `lst_1` present in `lst_2`, using lambda.

```
lst_1 = [1,2,3,4,5,6,7,8,9,10]
lst_2 = [2,4,6,8]

print('List 1: ', lst_1)
print('List 2: ', lst_2)
print('Remove all elements from lst_1 present in lst_2: ', remove_by_filter(lst_1, lst_2))
>>
List 1:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List 2:  [2, 4, 6, 8]
Remove all elements from lst_1 present in lst_2:  [1, 3, 5, 7, 9, 10]
```

In [13]:
# your code here (use lambda)

def remove_by_filter(lst_1, lst_2):
    new_lst = list(filter(lambda x: x not in lst_2, lst_1))
    return new_lst

In [14]:
lst_1 = [1,2,3,4,5,6,7,8,9,10]
lst_2 = [2,4,6,8]

print('List 1: ', lst_1)
print('List 2: ', lst_2)
print('Remove all elements from lst_1 present in lst_2: ', remove_by_filter(lst_1, lst_2))

List 1:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List 2:  [2, 4, 6, 8]
Remove all elements from lst_1 present in lst_2:  [1, 3, 5, 7, 9, 10]